TYPPrototype/TYPPrototype/Connected Services/ProductService/ProductService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://schemas.microsoft.com/ws/2005/02/mex/bindings" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://schemas.microsoft.com/ws/2005/02/mex/bindings" location="http://10.254.17.96:8083/ProductService.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.254.17.96:8083/ProductService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.254.17.96:8083/ProductService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.254.17.96:8083/ProductService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WirelecWCFService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductService_GetAllProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProducts" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetAllProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetAllInvoices_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllInvoices" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetAllInvoices_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllInvoicesResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetProductbyID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductbyID" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetProductbyID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductbyIDResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_DeleteProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProduct" />
  </wsdl:message>
  <wsdl:message name="IProductService_DeleteProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_SearchProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchProduct" />
  </wsdl:message>
  <wsdl:message name="IProductService_SearchProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_AddDamagedProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDamagedProduct" />
  </wsdl:message>
  <wsdl:message name="IProductService_AddDamagedProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDamagedProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_AddProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProduct" />
  </wsdl:message>
  <wsdl:message name="IProductService_AddProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_UpdateProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProduct" />
  </wsdl:message>
  <wsdl:message name="IProductService_UpdateProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetDamagedProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDamagedProducts" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetDamagedProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDamagedProductsResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductService">
    <wsdl:operation name="GetAllProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetAllProducts" message="tns:IProductService_GetAllProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetAllProductsResponse" message="tns:IProductService_GetAllProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllInvoices">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetAllInvoices" message="tns:IProductService_GetAllInvoices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetAllInvoicesResponse" message="tns:IProductService_GetAllInvoices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductbyID">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetProductbyID" message="tns:IProductService_GetProductbyID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetProductbyIDResponse" message="tns:IProductService_GetProductbyID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/DeleteProduct" message="tns:IProductService_DeleteProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/DeleteProductResponse" message="tns:IProductService_DeleteProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/SearchProduct" message="tns:IProductService_SearchProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/SearchProductResponse" message="tns:IProductService_SearchProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDamagedProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/AddDamagedProduct" message="tns:IProductService_AddDamagedProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/AddDamagedProductResponse" message="tns:IProductService_AddDamagedProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/AddProduct" message="tns:IProductService_AddProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/AddProductResponse" message="tns:IProductService_AddProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/UpdateProduct" message="tns:IProductService_UpdateProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/UpdateProductResponse" message="tns:IProductService_UpdateProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDamagedProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetDamagedProducts" message="tns:IProductService_GetDamagedProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetDamagedProductsResponse" message="tns:IProductService_GetDamagedProducts_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="ProductService">
    <wsdl:port name="MetadataExchangeHttpBinding_IProductService" binding="i0:MetadataExchangeHttpBinding_IProductService">
      <soap12:address location="http://10.254.17.96:8083/ProductService.svc/mex" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://10.254.17.96:8083/ProductService.svc/mex</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>