TYPPrototype/TYPPrototype/Connected Services/ProductService/ProductService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WirelecWCFService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WirelecWCFService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="P_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_ID" type="xs:int" />
      <xs:element minOccurs="0" name="P_Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Price" type="xs:int" />
      <xs:element minOccurs="0" name="P_Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="P_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Supplier_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="W_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bin_location" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="ArrayOfInvoice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Invoice" nillable="true" type="tns:Invoice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInvoice" nillable="true" type="tns:ArrayOfInvoice" />
  <xs:complexType name="Invoice">
    <xs:sequence>
      <xs:element minOccurs="0" name="C_ID" type="xs:int" />
      <xs:element minOccurs="0" name="INV_Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INV_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Inv_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="Total_Price" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Invoice" nillable="true" type="tns:Invoice" />
  <xs:complexType name="Damaged">
    <xs:sequence>
      <xs:element minOccurs="0" name="D_ID" type="xs:int" />
      <xs:element minOccurs="0" name="DateDamaged" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_ID" type="xs:int" />
      <xs:element minOccurs="0" name="P_Photo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Damaged" nillable="true" type="tns:Damaged" />
  <xs:complexType name="ArrayOfDamaged">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Damaged" nillable="true" type="tns:Damaged" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDamaged" nillable="true" type="tns:ArrayOfDamaged" />
</xs:schema>